.footer {
  width: 100%;
  background-color: #3a3e64;
}
.footer-content {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  padding: 71px 0 110px;
}
.footer-item {
  max-width: 328px;
  width: 100%;
}

.footer-logo {
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway';
}
.footer-text {
  opacity: 0.5;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 21px;
  font-family: 'Raleway';
}
.download-team {
  justify-content: center;
  margin-top: 21px;
}
.copyright {
  text-align: center;
  padding: 29px 0;
  background-color: #313454;
}
.copyright-text {
  max-width: 350px;
  margin: auto;
  color: #808080;
}
.kamal {
  color: white;
}
.fa-heart {
  font-size: 0.7rem;
}
.download-ico {
  color: white;
  border: 2px solid;
}
.download-ico:hover {
  border: 2px solid #e84545;
}
@media (max-width: 600px) {
  .footer-item {
    max-width: 150px;
    width: 100%;
  }
  .team-link {
    transform: scale(0.8);
  }
  .footer-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-item {
    margin-top: 35px;
    max-width: 300px;
  }
  .footer-item:first-child {
    margin-top: 0;
  }
  .footer-content {
    padding: 40px 0 40px;
  }
}
@media (max-width: 375px) {
  .copyright-text {
    max-width: 150px;
  }
}
