.header {
  width: 100%;
  background-color: rgba(29, 33, 51, 0.9);
  position: fixed;
  z-index: 5;
}
.header-logo__text {
  font-size: 1.8rem;
  color: gray;
  font-weight: 700;
  font-family: 'Raleway';
}
.header-logo__text::after {
  content: 'BOX';
  color: white;
  font-weight: lighter;
  line-height: normal;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.menu-list {
  margin-left: 60px;
  position: relative;
  font-family: 'Raleway';
  font-weight: bold;
}
.menu-list::after {
  content: '';
  position: absolute;
  left: 0%;
  width: 0;
  top: 110%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}
.menu-list:hover::after {
  width: 100%;
}
.menu-list:first-child {
  margin-left: 0;
}
.menu-list__style {
  font-size: 0.812rem;
  color: rgb(211, 211, 211);
}
@media (max-width: 1024px) {
  .header-content {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .menu-list {
    margin-left: 30px;
  }
  .menu-list__style {
    font-size: 0.65rem;
  }
}
@media (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-content {
    height: 50px;
  }
  .header-navigation {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 80px;
    right: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(29, 33, 51, 0.9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    margin-top: 2rem;
    display: block;
    padding: 20px 24px;
    color: #e84545;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
