.awesome {
  width: 100%;
  background-color: white;
  padding: 100px 0;
}
.awesome-title {
  text-align: center;
}
.awesome-title::after {
  content: '';
  width: 64px;
  height: 2px;
  display: block;
  margin: 30px auto 0 auto;
  background-color: #d98943;
}
.awesome-description {
  margin-top: 30px;
}
.awesome-row {
  margin-top: 67px;
}
.awesomeitem {
  max-width: 350px;
  padding: 5px;
  margin: 0 15px;
  transition: 0.3s ease;
}
.awesomeitem:hover {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.awesome-img {
  border: 1px solid #d98943;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.awesome-img:hover {
  transform: scale(1.1);
}
.awesome-icon {
  font-size: 40px;
  color: #d98943;
}

.awesome-subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.subtitle-description {
  text-align: center;
}
