.customers {
  width: 100%;
  background-color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
.customers-title {
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase;
}
.customers-title::after {
  content: '';
  width: 64px;
  height: 2px;
  display: block;
  margin: 30px auto 0 auto;
  background-color: #d98943;
}
.customers-row {
  margin-top: 76px;
}

.customers-row__item {
  display: flex;
  max-width: 298px;
  margin: auto;
  margin: 0 40px 119px 40px;
  justify-content: space-between;
  flex-direction: column;
}
.customers-row__item:hover {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  border-radius: 7px;
}

.customers-row__text {
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #86878b;
  background-color: #e2e2e2;
  border-radius: 7px;
  padding: 9px 22px 6px 23px;
  position: relative;
  overflow-wrap: break-word;
}
.customers-row__text::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 14px solid #e2e2e2;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: 100%;
  left: 15%;
}

.customers-row__card {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}
.customers-row__card-img {
  border: 1px solid white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-left: 10px;
}
.customer {
  text-align: right;
  vertical-align: middle;
}
.customers-row__card-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  color: #333333;
}
.customers-row__card-occupation {
  font-size: 14px;
  line-height: 10px;
  color: #86878b;
}
.thor {
  margin: -10px -40px;
}
.ivan {
  margin: -15px -105px;
}
.alex {
  margin: 0 -15px;
}
