.pricing {
  width: 100%;
  background-color: #e5e5e5;
  padding: 80px 0 40px;
}

.pricing-title {
  text-align: center;
}
.pricing-title::after {
  content: '';
  background-color: #d98943;
  margin: auto;
}

.pricing-description {
  margin-top: 34px;
}
.pricing-row {
  margin-top: 63px;
}

.pricing-item {
  text-align: center;
  min-width: 340px;
  margin: 0 15px 40px;
  transition: 0.5s ease;
}
.pricing-item:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.dark {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.dark:hover {
  background-color: #d98943;
}
.dark-title {
  color: white;
  padding-top: 15px;
  padding-bottom: 9px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  transition: 0.4s ease;
}
.dark-title:hover {
  cursor: pointer;
}
.dark-price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: white;
  line-height: 100px;
  margin-top: 1px;
  margin-bottom: 2px;
  transition: 0.4s ease;
}
.dark-price:hover {
  cursor: pointer;
}
.dark-free {
  line-height: 50px;
  transition: 0.4s ease;
  font-weight: bold;
}
.dark-free:hover {
  color: white;
  cursor: pointer;
}
.light {
  background-color: white;
  color: #86878b;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  line-height: 40px;
  margin-top: 4px;
  transition: 0.4s ease;
}
.light:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
