@import url('../css/pricing.css');
@import url('../css/awesome.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/footer.css');
@import url('../css/social.css');
@import url('../css/axit.css');
@import url('../css/features.css');
@import url('../css/contact.css');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.upper {
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 10;
  font-size: 30px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.fa-chevron-up {
  color: rgba(217, 137, 67, 0.7);
  padding: 0 5px;
}
.fa-chevron-up:hover {
  color: #d98943;
}
.upper:hover {
  background-color: rgba(141, 138, 138, 0.5);
  transform: scale(1.2);
}
.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.title::after {
  content: '';
  width: 64px;
  height: 2px;
  display: block;
  margin-top: 30px;
}

.description {
  text-align: center;
  margin-top: 34px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}

.raw {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.download-btn {
  width: 135px;
  transition: 0.2s ease;
}
.download-btn:hover {
  background-color: #ec7979;
}
.download-btn:active {
  transform: scale(0.9);
  background-color: #ec5454;
}
.download-btn__border {
  border: 1px solid white;
  text-align: center;
}
.download-btn__border:active {
  border: 1px solid rgba(0, 0, 0, 0);
}
.download-btn__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  color: #ffffff;
  padding: 11px 32px;
}
.input {
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  line-height: 19px;
  color: black;
  text-align: center;
}
.input:focus {
  outline: none;
}
label {
  display: inline-block;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
